#app{
    border: 2px solid;
}

#obs-logs{
    background-color: black;
    color: white;
    max-width: 50%;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
    max-height: 40vh;
}